{% extends 'shared/base.html' %}
{% load bootstrap4 %}
{% block site_content %}
    <div class="row d-flex justify-content-center">
        <form method="post" class="form" action="{% url 'login user' %}" enctype="multipart/form-data">
            <h2 class="text-center">Login</h2>
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            <button type="submit" class="btn btn-primary" style="background: black">Login</button>
            <p style="-moz-border-top-colors: coral">----or----</p>
            <a href="{% url 'register user' %}" style="color: palevioletred">Register</a>
        </form>
    </div>

{% endblock %}