{% extends 'shared/base.html' %}
{% load bootstrap4 %}
{% block site_content %}

    <div class="container-fluid" style="color: #fff">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post" class="form" action="{% url 'register user' %}" enctype="multipart/form-data"
                      style="border: 1px solid grey; margin: 10% 0%; padding: 10% 5%">
                    <h2 class="text-center">Register</h2>
                      {% csrf_token %}
                    {% for field in user_form %}
                        {% bootstrap_field field %}
                    {% endfor %}
                    {% for field in profile_form %}
                        {% bootstrap_field field %}
                    {% endfor %}
                    <button class="btn btn-outline-dark" type="submit" style="color: #fff; margin-top: 15px; margin-bottom: 15px">
                        Register</button>
                    <hr>
                    <span>Have an account?<a href="{% url 'login user' %}" style="color:palevioletred"> Sign in here</a></span>
                </form>
            <div class="col-lg-3"></div>
            </div>
        </div>
    </div>

{% endblock %}