{% extends 'shared/base.html' %}
{% block site_content %}
<div class="container">
    <div class="text-center" style="color: #fff">
        <h1>Hello, {{ profile_user.username }}!</h1>
        <h5>This is your profile</h5>
        {% if profile.profile_picture %}
            <img class="rounded-circle mb-3" src="{{ profile.profile_image.url }}" alt="Generic placeholder image"
                 width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3" src="https://afribary.com/authors/anonymous-user/photo"
                 alt="Generic placeholder image" width="140" height="140">
        {% endif %}
        <div class="w-50 m-auto">
            <form action="{% url 'current user profile' %}" method="post" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <button class="btn btn-outline-dark" type="submit" style="color: #fff; margin-top: 10px; margin-bottom: 20px">
                        Upload</button>
            </form>
        </div>
    </div>

    <hr>
    {% if recipes %}
        <h1 class= 'text-center' style="font-size: 30px; padding-top: 25px; color: #fff">You Created</h1>
        <div class="row">
            <div class="row" style=" margin: 30px; margin-right: 25px">
                {% for recipe in recipes %}
                    <div class="row-4-col" style="margin: 25px">
                        <div class="card" style="width: 18rem; padding: 15px; background: transparent;">
                            <img src="{{ recipe.image.url }}" class="card-img-top" alt="Image of {{ recipe.title }}"
                            sizes="width="100px height="175px">
                            <div class="card-body" style="color: #fff">
                                <h5 class="card-title" style="font-size: 25px; color: #fff">{{ recipe.title }}</h5>
                                <a href="{% url 'recipe details' recipe.id %}" class="btn btn-outline-dark" style="color: #fff;
                        font-family: cursive; margin-bottom: 10px">see details</a>
                                <br>
                                <a href="{% url 'edit recipe' recipe.id %}" class="btn btn-outline-dark" style="color: #fff;
                        font-family: cursive">edit</a>
                                <a href="{% url 'delete recipe' recipe.id %}" class="btn btn-outline-dark" style="color: #fff;
                        font-family: cursive">delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="text-center" style="margin-bottom: 200px">
            <h1 class= 'text-center' style="font-size: 30px; padding-top: 25px; color: #fff">You have no created recipes</h1>
            <a href="{% url 'recipe details' recipe.id %}" class="btn btn-outline-dark" style="color: #fff;
                        font-family: cursive">Add a Recipe</a>
        </div>
    {% endif %}




    <hr>
    {% if saved_recipes %}
        <h1 class= 'text-center' style="font-size: 30px; padding-top: 25px; color: #fff">Your Saved Recipes</h1>
        <div class="row" >
            <div class="row" style=" margin: 30px; margin-right: 25px">
                {% for recipe in saved_recipes %}
                    <div class="row-4-col" style="margin: 25px" >
                        <div class="card" style="width: 18rem; padding: 15px; background: transparent;">
                            <img src="{{ recipe.recipe.image.url }}" class="card-img-top" alt="Image of {{ recipe.recipe.title }}"
                                 sizes="width="100px height="175px">
                            <div class="card-body" style="color:#fff;">
                                <h5 class="card-title" style="font-size: 25px; color: #fff">{{ recipe.recipe.title }}</h5>
                                <a href="{% url 'recipe details' recipe.id %}" class="btn btn-outline-dark" style="color: #fff;
                                        font-family: cursive; margin-bottom: 10px">see details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="text-center" style="color: #fff; margin-bottom: 200px">
            <h1 class= 'text-center' style="font-size: 30px; padding-top: 25px; color: #fff">You don't have any saved recipes yet</h1>
        </div>
    {% endif %}
    </div>

{% endblock %}

