{% extends 'shared/base.html' %}
{% block site_content %}

    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">

    <div class="content-wrapper">
    <img src="/static/images/home-page-img.jpg" alt="Festive baking" style="width: 100%">
    <div class="image">
        <h1>Good Food</h1>
        <h1>Festive Baking</h1>
        <h3>Inspere yourself and share your Recipes with the world</h3>

    </div>
    </div>

{% endblock %}